/* Basic Layouts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}
#full-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    background-color: white;
    border-radius: 50px;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
}
/* Left Container */
#left-container {
    width: 40%;
    padding: 15px;
}
#logo-container {
    margin: 20px auto;
    width: 300px;
}

#logo-container img{
    width: 300px;
}

/* Right Container */
#right-container {
    width: 60%;
}
#overall-timer-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 600px;
}
#cycle-info {
    display: flex;
    justify-content: center;
}
#cycle-info__desc p {
    cursor: default;
    color: #808080;
    font-size: 20px;
}
#setting-icon-wrapper {
    margin-left: 10px;
}
#setting-icon-wrapper i {
    color: #aba9ab;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.3;
}
#setting-icon-wrapper i:hover {
    color: #808080;
}
#setting-icon-wrapper i:active {
    color: #636363;
}
#timer-container {
    height: 300px;
    border-radius: 50px;
    background-color: #f0f0f0;
}
#indicators {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.indicator {
    background-color: #dedede;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
}
.indicator p {
    color: #c2c2c2;
    cursor: default;
}
.indicator.focus.active {
    border: 1px solid #aba9ab;
}
.indicator.break.active p{
    color: #94b87f;
}
.indicator.active p{
    font-weight: 500;
    color: #636363;
}
.indicator p {
    text-align: center;
}
#timer-box {
    width: 500px;
    margin: 20px auto;
}
.timer-box__timer.break p{
    color: #b3f09e;
}
.timer-box__timer p {
    cursor: default;
    text-align: center;
    font-size: 120px;
    line-height: 0.8;
}
.timer-box__cycle p {
    cursor: default;
    color: #636363;
    font-size: 20px;
    text-align: end;
    padding-right: 20px;
}
#controllers {
    display: flex;
    justify-content: center;
}
.controller {
    font-size: 30px;
    display: none;
    cursor: pointer;
}
.controller i {
    color: #aba9ab;
}
.controller i:hover {
    color: #808080;
}
.controller i:active {
    color: #636363;
}
.controller.active {
    display: block;
}
/* Footer */
#copyrights {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -95px;
}
#copyrights p {
    cursor: default;
    color: #808080;
}